<p id="notice"><%= notice %></p>

<section>
  <div class="cards">
    <% @questions.each do |question| %>
      <div class="card">
        <div class="card-header">
          <%= link_to question.title , question  %>
        </div>
        <div class="card-copy">
          <%= (render partial: "refills/comment", collection: question.comments.limit(3)) || "No comments yet" %>
        </div>
        <div class="card-info">
          <span class=<%= question.upvote_rank? %> ><%= question.upvote %></span>
        </div>
        <div class="card-comment">
          <%= form_for [question, question.comments.build] do |f| %>
            <p><%= f.text_area :body %></p>
            <p><%= f.submit "Add Comment" %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</section>

<br>

<div align='center'><%= button_to 'New Question', new_question_path %></div>
