<p id="notice"><%= notice %></p>

<div class="cards">
  <% @questions.each do |question| %>
    <div class="card">
      <%= link_to question do %>
      <div class="card-header">
        <%= question.title %>
        <span class=<%= question.upvote_rank? %> ><%= question.upvote %></span>
      </div>
    <% end %>
      <div class="card-copy">
        <%= question.description %>
      </div>
    </div>
  <% end %>
</div>

<br>

<div align='center'><%= button_to 'New Question', new_question_path %></div>
