<article>

  <br>

  <div class="cards">
    <div class="card">
      <div class="card-header">
        <%= link_to "Question", @question %>
        <span class="badge"><%= @question.get_votes %></span>
      </div>
      <div class="card-header">
        <%= @question.body  %>
      </div>
      <div class="card-copy">
        <%= (render partial: "refills/comment", collection: @comments) || "No comments yet" %>
        <span class="time">asked by <%= @question.user %> <%= time_ago_in_words(@question.created_at) %> ago</span>
      </div>
      <div class="card-comment">
        <%= form_for [@question, @comments.build] do |f| %>
          <p><%= f.text_area :body %></p>
          <p><%= f.submit "Add Comment" %></p>
      <% end %>
      </div>
    </div>
  </div>

</article>
