<article>
  <br>

  <% if (@user.has_role? :admin) || (@user.has_role? :instructor) %>
    <div class="new_button">
      <%= button_to "New Lecture", new_course_lecture_path, method: "get" %>
    </div>
  <% end %>

  <br>

  <div class="cards">
    <% @lectures.each do |lecture| %>
      <div class="card">
        <div class="card-header">
          <%= link_to "Lecture", lecture_path(lecture) %>:  
          <%= lecture.title %>
          <span>
            <%= lecture.created_at.strftime("%B %-d, %Y ") %> 
          </span>
        </div>
        <div class="card-copy">
          <strong>Questions:</strong> <%= lecture.questions_count %>
          <strong>Comments:</strong> <%= lecture.comments_count %>
          <strong>Votes:</strong> <%= lecture.votes_count %>
        <% if (@user.has_role? :admin) || (@user.has_role? :instructor) %>
            <span>
              <%= link_to "X", lecture_path(lecture), method: :delete %>
            </span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

</article>
