<div class="cards">
  <% if controller_name == "comments_controller" %>
    <%= render partial: "refills/card" %>
  <% elsif controller_name == "questions_controller" %>
    <%= render partial: "refills/card" %>
  <% elsif controller_name == "lectures_controller" %>
    <%= render partial: "refills/card" %>
  <% elsif controller_name == "users/registrations_controller" %>
    <%= render partial: "refills/card" %>
  <% else %>
    <%= not_found %>
  <% end %>
</div>
