<div class="cards">
  <% @questions.each do |question| %>
    <div class="card">
    <div class="card-header">
      <%= link_to question.body, question  %>
      <%= link_to upvote_question_path(question), method: :post do %> 
        <span class="badge">
          <%= question.get_votes %>
        </span>
      <% end %>
    </div>
    <div class="card-copy">
      <%= (render partial: "refills/comment", collection: question.comments.limit(3)) || "No comments yet" %>
      <span class="time">asked by User<%= time_ago_in_words(question.created_at) %> ago</span>
    </div>
    <div class="card-comment-hide">
      <%= form_for [question, question.comments.build] do |f| %>
        <p><%= f.text_area :body %></p>
      <p><%= f.submit "Add Comment" %></p>
    <% end %>
    </div>
  </div>
<% end %>
</div>
