<div class="comment">
  <div class="comment-image">
    <%= image_tag "https://upload.wikimedia.org/wikipedia/en/7/77/Facepalm_silhouette.svg" %>
  </div>
  <div class="comment-content">
    <% if (@user.has_role? :admin) || (comment.user.id == @user.id) %>
      <span><%= link_to "X", comment_path(comment.id), method: :delete %></span>
    <% end %>
    <h1><%= comment.user %></h1>
    <p><%= comment.body %></p>
    <p class="comment-detail"><%= time_ago_in_words(comment.created_at) %> ago</p>
  </div>
</div>
