<!DOCTYPE html>
<html>
<head>
  <title>ClassQna</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= render partial: "refills/navigation" %>

<section>

    <% if notice %>
      <article>
        <br>
        <div class="flash-notice">
          <span><%= notice %></span>
        </div>
      </article>
    <% elsif alert %>
      <article>
        <br>
        <div class="flash-alert">
          <span><%= alert %></span>
        </div>
      </article>
    <% end %>

  <%= yield %>

</section>

<%= render partial: "refills/footer" %>
</body>
</html>
